{% extends "layout.html" %}

{% block title %}
<title>Rahul's Store</title>
{% endblock title %}

{% block content %}
    
    <center><h2>Popular Products</h2></center>
    
    <div class="featured-products-container">
    <!-- for loop -->
    {% for product in popular_products %}           <!-- for loop start -->
        <div class="featured-products">
            <h3>Product Name : {{product.name}}</h3>    <!-- insert product name variable -->
            <!-- if-else conditoinal statement -->
            {% if product.discounted %}
            <p style="color: red">Discounted : ${{product.discounted_amount}}</p>
            <!-- if -->
             {% else %}
             <p style="color: green">Normal Price</p>
             <!-- Else -->
              {% endif %}
            <img src= '{{url_for("static", filename=product.img)}}'>
            <h4>Size : {{ product.size }}</h4>
            <h5>Price : ${{ product.price }}</h5>
        </div>
    {% endfor %}                                     <!-- for loop end -->
    </div>

{% endblock content %}